*.txt
bin
contrib
docs
example
licenses
dist/solr*
dist/test*

server/contexts
server/etc
server/lib
server/logs
server/modules/
server/resources/
server/scripts
server/solr-webapp
server/tmp
server/README.txt
server/start.jar

server/solr/configsets
server/solr/filestore
server/solr/userfiles
server/solr/README.txt
server/solr/solr.xml
server/solr/zoo.cfg

server/solr/test/data
server/solr/test/core.properties
